<div class="cover">
  <div class="cover-img"></div>
  <div class="cover-content">
    <h1>
      You can do it
    </h1>
    <footer class="italics">
      Yes you can
    </footer>
  </div>
</div>

<div class="flex-boxes">
  <a href="schools" class="flex-box flex-box-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Schools</h1>
    <p>Browse through our '7' schools and find out which is best for you!</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
    <h1 class="flex-title">Scholarships</h1>
    <p>Browse through and apply for our '5' known immigrant-friendly scholarhships!</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
    <h1 class="flex-title">Sponsors</h1>
    <p>Browse through our sponsors and meet them in hopes that they help pay for your schooling!</p>
  </a>
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Students</h1>
    <p>Browse through our '29' students who strive to fulfill their DREAMs.</p>
  </a>
</div>
