<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="http://www.codethedream.org/about/">About Us</a></li>
        <li class="nav-link"><a href="http://www.codethedream.org/contact/">Contact</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <a href="javascript:void(0)" class="login">Login</a>
    </div>
  </div>
</header>

<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
      " alt="Logo Image"></a>
      <div class="hero-copy">
            <center>
              <h2>Choose a School</h2>
              <%= form_tag schools_path, :class => "search-bar", :method => 'get' do %>
                <%= text_field_tag :search, params[:search], :type => "search", :placeholder => "Enter School" %>
                <button type="submit">
                  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
                </button>
              <% end %>
            </center>
            <%= link_to 'Advanced Search', new_search_path %>
      </div>
  </div>
</div
